In [2]:
#DataFrame
import pandas as pd
p1=pd.Series({'name':'Ghazale','item_purchased':'Hat'
                 ,'Cost':22})

p2=pd.Series({'name':'Amir','item_purchased':'Shoes'
                 ,'Cost':112})
p3=pd.Series({'name':'Yalda','item_purchased':'Glass'
                 ,'Cost':200})
df=pd.DataFrame([p1,p2,p3],index=['store 1','store 2','store 2'])
df.head()

            name item_purchased  Cost
store 1  Ghazale            Hat    22
store 2     Amir          Shoes   112
store 2    Yalda          Glass   200

In [3]:
df.loc['store 2']

          name item_purchased  Cost
store 2   Amir          Shoes   112
store 2  Yalda          Glass   200

In [5]:
type(df.loc['store 1'])

pandas.core.series.Series

In [9]:
df.loc['store 2','Cost']

store 2    112
store 2    200
Name: Cost, dtype: int64

In [11]:
#swaps all of the columns and rows.
df.T

                store 1 store 2 store 2
name            Ghazale    Amir   Yalda
item_purchased      Hat   Shoes   Glass
Cost                 22     112     200

In [12]:
df.T.loc['Cost']

store 1     22
store 2    112
store 2    200
Name: Cost, dtype: object

In [13]:
df['Cost']

store 1     22
store 2    112
store 2    200
Name: Cost, dtype: int64

In [14]:
df.loc['store 2']['Cost']

store 2    112
store 2    200
Name: Cost, dtype: int64

In [15]:
df.loc[:,['name','Cost']]

            name  Cost
store 1  Ghazale    22
store 2     Amir   112
store 2    Yalda   200

In [16]:
df.drop('store 1')

          name item_purchased  Cost
store 2   Amir          Shoes   112
store 2  Yalda          Glass   200

In [19]:
df

            name item_purchased  Cost
store 1  Ghazale            Hat    22
store 2     Amir          Shoes   112
store 2    Yalda          Glass   200

In [20]:
copy_df=df.copy()
copy_df=copy_df.drop('store 1')
copy_df

          name item_purchased  Cost
store 2   Amir          Shoes   112
store 2  Yalda          Glass   200

In [22]:
copy_df.drop?

In [23]:
del copy_df['Cost']
copy_df

          name item_purchased
store 2   Amir          Shoes
store 2  Yalda          Glass

In [24]:
df['Location']=None
df

            name item_purchased  Cost Location
store 1  Ghazale            Hat    22     None
store 2     Amir          Shoes   112     None
store 2    Yalda          Glass   200     None

In [26]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

# Your answer here
df['Cost'] *= 0.8
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  18.0
Store 1  Kevyn   Kitty Litter   2.0
Store 2  Vinod      Bird Seed   4.0